/* Table of Contents

    -Global
    -Typography
    -Common Properties
    -Header / Footer
    -Main Content
        -Photo Results List
        -Active Photo Popup
*/

/* Global Settings */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Typography */
.main-header,
.main-content,
.main-footer,
.search-form__input,
.search-form__btn {
    font-family: "Lucida Grande";
    text-align: center;
}

/* Common Properties */
.search-form__btn,
.results-list__item__img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

/* Header & Footer */
.main-header,
.main-footer {
    background: #002b49;
}

    .main-header__heading,
    .search-form__btn,
    .main-footer__content,
    .main-footer__link {
        color: #fff;
    }

.main-header {
    padding: 10px;
}

    .main-header__heading {
        margin: 0;
        padding: 10px 0;
    }

    .search-form__input,
    .search-form__btn {
        padding: 2px;
        width: 50%;
        min-width: 200px;
        max-width: 300px;
        display: block;
        margin: 5px auto;
        font-size: 1.5em;
    }

    .search-form__btn {
        background: #333;
        border: 1px solid;
    }

        .search-form__btn:hover {
            color: #333;
            background: #fff;
            border: 1px solid;
            cursor: pointer;
        }

.main-footer {
    height: 50px;
    font-size:1.5em;
}

    .main-footer__content {
        margin: 0;
    }

.main-content {
    min-height: calc(100vh - 250px);
    max-width: 960px;
    margin: 20px auto;
}

/* Results List */
.results-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .results-list__item {
        padding: 5px;
        margin: 5px;
        flex-basis: calc(50% - 10px);
    }

        .results-list__item__img {
            border: 3px solid #333;
            width: 156px;
            height: 156px;
            margin: auto;
        }

            .results-list__item__img:hover {
                border-color: transparent;
                cursor: pointer;
            }

/* Active Photo */
.active-photo {
    position: fixed;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    background: rgba(255, 255, 255, 0.6);
    top: 10px;
    left: 10px;
}
